before_install:
  - gem update bundler

rvm:
  - 2.0.0
  - 2.1.10
  - 2.2.6
  - 2.3.3
  - 2.4.0

script:
  - bundle exec rake spec

sudo: false

cache: bundler

matrix:
  allow_failures:
    - rvm: ruby-head

branches:
  only:
    - master
