name: pry-doc

on: [push]

permissions:
  contents: read

jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-latest]
        ruby: [2.3, 2.4, 2.5, 2.6, 2.7, 3.0, 3.1, 3.2]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v3

      - name: Update package list
        run: sudo apt-get update

      - name: Install cURL Headers
        run: sudo apt-get install libcurl4 libcurl4-openssl-dev

      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true

      - name: Install Bundler dependencies
        run: bundle install

      - name: Display Ruby version
        run: ruby -v

      - name: Unit tests
        run: bundle exec rake
